<html>
<body>
    <div class="login">
        <h1>Student Performance Indicator</h1>

        <form action="{{ url_for('predict_datapoints') }}" method="post">
        <h1>
            <legend>Student Exam Performance Prediction</legend>
        </h1>
        <div class="mb-3">
            <label class="form-label">Gender</label>
            <select class="form-control" name="gender" placeholder="Enter Gender" required>
                <option class ="placeholder" value="" disabled selected>Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Race/Ethnicity</label>
            <select class="form-control" name="race_ethnicity" placeholder="Enter Race/Ethnicity" required>
                <option class ="placeholder" value="" disabled selected>Select Race/Ethnicity</option>
                <option value="group A">Group A</option>
                <option value="group B">Group B</option>
                <option value="group C">Group C</option>
                <option value="group D">Group D</option>
                <option value="group E">Group E</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Parental Level of Education</label>
            <select class="form-control" name="parental_level_of_education" placeholder="Enter Parental Level of Education" required>
                <option class ="placeholder" value="" disabled selected>Select Parental Level of Education</option>
                <option value="some high school">Some high school</option>
                <option value="high school">high school</option>
                <option value="some college">some college</option>
                <option value="associate's degree">associate's degree</option>
                <option value="bachelor's degree">bachelor's degree</option>
                <option value="master's degree">master's degree</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Lunch</label>
            <select class="form-control" name="lunch" placeholder="Enter Lunch" required>
                <option class ="placeholder" value="" disabled selected>Select Lunch</option>
                <option value="standard">Standard</option>
                <option value="free/reduced">Free/Reduced</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Test Preparation Course</label>
            <select class="form-control" name="test_preparation_course" placeholder="Enter Test Preparation Course" required>
                <option class ="placeholder" value="" disabled selected>Select Test Preparation Course</option>
                <option value="none">None</option>
                <option value="completed">Completed</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Writing score out of 100</label>
            <input type="number" class="form-control" name="writing_score" placeholder="Enter Writing Score" required min="0" max="100">
        </div>
        <div class="mb-3">
            <label class="form-label">Reading score out of 100</label>
            <input type="number" class="form-control" name="reading_score" placeholder="Enter Reading Score" required min="0" max="100">
        </div>
        <button type="submit" class="btn btn-primary">Predict</button>
    </div>
    </form>
    <div class = 'mb-3'>
        <a class="btn btn-secondary" href="{{ url_for('predict_datapoints') }}">Predict your Maths score</a>
    </div>
    <h2>
        The Predicted Maths score is: {{ results }}
    </h2>
    </body>
</html>